/* my pattern to make horizontal menus */

.horizontalMenu ul { font-size:0; overflow:auto; }

.horizontalMenu ul, .horizontalMenu li { display:inline-block; }

.ie7 .horizontalMenu ul,
.ie7 .horizontalMenu li { display:block; float:left; }

.ie7 nav.horizontalMenu { overflow:auto; display:block; }

.horizontalMenu a {
	display:block;
	text-decoration:none;
}


/* this applies to all menus on this example */

.horizontalMenu a {
	width:100px;
	height:30px;
	background-color: transparent;
}



/* odometer style */

#bt1, #bt2, #bt3, #bt4, #bt5 { background-image: url("img/sprite-cssTransitions.png"); }

.csstransitions #bt1,
.csstransitions #bt2,
.csstransitions #bt3,
.csstransitions #bt4,
.csstransitions #bt5 {
	
	-webkit-transition-property: background-position;
	-webkit-transition-duration: 0.3s;
	-webkit-timing-function: ease-out;

	-moz-transition-property: background-position;
	-moz-transition-duration: 0.3s;
	-moz-timing-function: ease-out;

	-o-transition-property: background-position;
	-o-transition-duration: 0.3s;
	-o-timing-function: ease-out;
	
}

#bt1 { background-position:left top; }
#bt1:hover { background-position:left -30px; }

#bt2 { background-position:-100px top; }
#bt2:hover { background-position:-100px -30px; }

#bt3 { background-position:-200px top; }
#bt3:hover { background-position:-200px -30px; }

#bt4 { background-position:-300px top; }
#bt4:hover { background-position:-300px -30px; }

#bt5 { background-position:-400px top; }
#bt5:hover { background-position:-400px -30px; }

/* bottom fill style */

#btn1, #btn2, #btn3, #btn4, #btn5 { background-image: url("img/sprite-cssTransitions.png"); }

.multiplebgs #btn1,
.multiplebgs #btn2,
.multiplebgs #btn3,
.multiplebgs #btn4,
.multiplebgs #btn5 {
	background-image: url("img/sprite-cssTransitions.png"), url("img/blackBg.png");
}

.csstransitions #btn1,
.csstransitions #btn2,
.csstransitions #btn3,
.csstransitions #btn4,
.csstransitions #btn5 {
	
	-webkit-transition-property: background-position, background-position;
	-webkit-transition-duration: 1s, 0.3s;
	-webkit-timing-function: ease-in, ease-out;

	-moz-transition-property: background-position, background-position;
	-moz-transition-duration: 1s, 0.3s;
	-moz-timing-function: ease-in, ease-out;

	-o-transition-property: background-position, background-position;
	-o-transition-duration: 1s, 0.3s;
	-o-timing-function: ease-in, ease-out;
	
}

#btn1 { background-position: left top, left top; }
#btn1:hover { background-position: left -60px, left bottom; }

#btn2 { background-position: -100px top, left top; }
#btn2:hover { background-position: -100px -60px, left bottom; }

#btn3 { background-position: -200px top, left top; }
#btn3:hover { background-position: -200px -60px, left bottom; }

#btn4 { background-position: -300px top, left top; }
#btn4:hover { background-position: -300px -60px, left bottom; }

#btn5 { background-position: -400px top, left top; }
#btn5:hover { background-position: -400px -60px, left bottom; }

.no-multiplebgs #btn1 { background-position: left top; }
.no-multiplebgs #btn1:hover { background-position: left -60px; background-color: #000; }

.no-multiplebgs #btn2 { background-position: -100px top; }
.no-multiplebgs #btn2:hover { background-position: -100px -60px; background-color: #000; }

.no-multiplebgs #btn3 { background-position: -200px top; }
.no-multiplebgs #btn3:hover { background-position: -200px -60px; background-color: #000; }

.no-multiplebgs #btn4 { background-position: -300px top; }
.no-multiplebgs #btn4:hover { background-position: -300px -60px; background-color: #000; }

.no-multiplebgs #btn5 { background-position: -400px top; }
.no-multiplebgs #btn5:hover { background-position: -400px -60px; background-color: #000; }


/* highlight style */

#butn1, #butn2, #butn3, #butn4, #butn5 { background-image: url("img/sprite-cssTransitions.png"); }

.csstransitions #butn1,
.csstransitions #butn2,
.csstransitions #butn3,
.csstransitions #butn4,
.csstransitions #butn5 {
	
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 0.3s;
	-webkit-timing-function: ease-out;

	-moz-transition-property: background-color;
	-moz-transition-duration: 0.3s;
	-moz-timing-function: ease-out;

	-o-transition-property: background-color;
	-o-transition-duration: 0.3s;
	-o-timing-function: ease-out;
	
}

#butn1 { background-position:left top; }

#butn2 { background-position:-100px top; }

#butn3 { background-position:-200px top; }

#butn4 { background-position:-300px top; }

#butn5 { background-position:-400px top; }

#butn1:hover, #butn2:hover, #butn3:hover, #butn4:hover, #butn5:hover { background-color:#fff }


/* frame by frame  */

#button1, #button2, #button3, #button4, #button5 { background-image: url("img/sprite-frameByFrame.png"); }

#button1 { background-position: left top; }
#button1.hover1 { background-position: left -30px; }
#button1.hover2 { background-position: left -60px; }
#button1.hover3 { background-position: left -90px; }
#button1.hover4 { background-position: left -120px; }

#button2 { background-position: -100px top; }
#button2.hover1 { background-position: -100px -30px; }
#button2.hover2 { background-position: -100px -60px; }
#button2.hover3 { background-position: -100px -90px; }
#button2.hover4 { background-position: -100px -120px; }
#button2.hover5 { background-position: -100px -150px; }
#button2.hover6 { background-position: -100px -180px; }
#button2.hover7 { background-position: -100px -210px; }
#button2.hover8 { background-position: -100px -240px; }
#button2.hover9 { background-position: -100px -270px; }

#button3 { background-position: -200px top; }
#button3.hover1 { background-position: -200px -30px; }
#button3.hover2 { background-position: -200px -60px; }
#button3.hover3 { background-position: -200px -90px; }
#button3.hover4 { background-position: -200px -120px; }
#button3.hover5 { background-position: -200px -150px; }
#button3.hover6 { background-position: -200px -180px; }
#button3.hover7 { background-position: -200px -210px; }
#button3.hover8 { background-position: -200px -240px; }
#button3.hover9 { background-position: -200px -270px; }

#button4 { background-position: -300px top; }
#button4.hover1 { background-position: -300px -30px; }
#button4.hover2 { background-position: -300px -60px; }
#button4.hover3 { background-position: -300px -90px; }
#button4.hover4 { background-position: -300px -120px; }
#button4.hover5 { background-position: -300px -150px; }
#button4.hover6 { background-position: -300px -180px; }
#button4.hover7 { background-position: -300px -210px; }

#button5 { background-position: -400px top; }
#button5.hover1 { background-position: -400px -30px; }
#button5.hover2 { background-position: -400px -60px; }
#button5.hover3 { background-position: -400px -90px; }
#button5.hover4 { background-position: -400px -120px; }
